{% if request.user.is_authenticated %}
    <form action="{% url 'blog:post_comment' post.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-lg-12" style="padding: 0px">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" required name="post_comment" placeholder="Comment this post">
                <span class="input-group-btn">
            <button class="btn btn-success" type="submit">Send</button>
        </span>
            </div>
        </div>
    </form>
{% else %}
    Add comment can only <a href="{% url 'blog:login' %}">authorized</a> users
{% endif %}
