{% load staticfiles %}
<form method="post" enctype="multipart/form-data" action="" id="form">

    {% csrf_token %}
    {% if form.instance.have_post_image %}
        <div class="col-md-12 blog-post">
            <div class="post-image">
                <img id="post_image" src="{% static 'blog/user_files' %}/{{ form.instance.get_post_image.file_name }}">
            </div>
        </div>
        <div class="col-sm-3 margin-top-10 padding-right-5" style="width: auto;">
            <div class="form-group margin-bottom-10">
                <label id="post_image_button" class="btn btn-success" for="post_image_input">
                    <i class="icon icon-reload"></i> Change post image header
                </label>
            </div>
        </div>
        <div class="col-sm-3 margin-top-10 padding-left-5 padding-right-5" style="width: auto;">
            <div class="form-group margin-bottom-10">
                <a href="{% url 'blog:remove_header' form.instance.id %}">
                    <label class="btn btn-danger">
                        <i class="icon-trash"></i> Remove post image header
                    </label>
                </a>
            </div>
        </div>
    {% else %}
        <div class="col-md-12 blog-post">
            <div class="post-image">
                <img id="post_image" src="">
            </div>
        </div>
        <div class="col-sm-3 margin-top-10 padding-right-5" style="width: auto;">
            <div class="form-group margin-bottom-10">
                <label id="post_image_button" class="btn btn-info" for="post_image_input">
                    <i class="icon icon-settings"></i> Add post image header
                </label>
            </div>
        </div>
    {% endif %}

    <a hidden><input type="file" name="{{ image_form.file.html_name }}" id="post_image_input"></a>

    <div class="col-sm-12" style="padding-left: 5px">
        <div class="col-sm-3 margin-top-10 padding-right-5" style="width: auto; padding-left: 10px">
            <div class="form-group margin-bottom-10">
                <a class="btn btn-primary" id="add_image_block_button">Add image block</a>
            </div>
        </div>
        <div class="col-sm-3 margin-top-10 padding-right-5" style="width: auto;">
            <div class="form-group margin-bottom-10">
                <a class="btn btn-primary" id="add_code_block_button">Add code block</a>
            </div>
        </div>
        {# Questoin block #}
        {#        <div class="col-sm-3 margin-top-10 padding-right-5" style="width: auto;">#}
        {#            <div class="form-group margin-bottom-10">#}
        {#                <a class="btn btn-primary" onclick="add_question_block()">Add question block</a>#}
        {#            </div>#}
        {#        </div>#}
        <div class="col-sm-3 margin-top-10 padding-right-5" style="width: auto;">
            <div class="form-group margin-bottom-10">
                <a class="btn btn-primary" id="add_text_block_button">Add text block</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="form-group">
            <input required type="text" id="{{ form.title.html_name }}"
                   name="{{ form.title.html_name }}" class="form-control" value="{% firstof form.title.value %}"
                   placeholder="{{ form.title.label }}" title="Post title">
        </div>
    </div>

    <div class="col-sm-12" title="Notice!">
        <div class="form-group">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Notice:</strong> First block is always text
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="form-group" id="post_blocks">
            <textarea required id="{{ form.post_text.html_name }}" name="{{ form.post_text.html_name }}"
                      class="form-control" rows="10" title="Post text, first block"
                      placeholder="{{ form.post_text.label }}">{% firstof form.post_text.value %}
            </textarea>
            {% if form.instance.have_post_block %}
                {% for block in form.instance.get_all_blocks %}
                    {% include 'blog/post/_block_for_post.html' with block=block %}
                {% endfor %}
                <hr>
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Below is unpublished blocks</strong>
                </div>
                {% for block in form.instance.get_unpublished_blocks %}
                    {% include 'blog/post/_block_for_post.html' with block=block %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="text-center" id="send_form_button">
        <button type="button" class="load-more-button">Publish</button>
    </div>

</form>
