{% load staticfiles %}
<form method="post" enctype="multipart/form-data" action="">

    {% csrf_token %}

    {% if form.instance.have_post_image %}
        <div class="col-md-12 blog-post">
            <div class="post-image">
                <img src="{% static 'blog/user_files' %}/{{ form.instance.get_post_image.file_name }}" alt="">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="btn btn-success" for="post_image">~ Change post image header</label>
            </div>
        </div>
        <div class="col-sm6">
            <div class="form-group">
                <a href="{% url 'blog:remove_header_image' form.instance.id %}">
                    <label class="btn btn-danger">- Remove post image header</label>
                </a>
            </div>
        </div>
    {% else %}
        <div class="col-sm-12">
            <div class="form-group">
                <label class="btn btn-info" for="post_image">+ Add post image header</label>
            </div>
        </div>
    {% endif %}

    <a hidden><input type="file" name="{{ image_form.file.html_name }}" id="post_image"></a>

    <div class="col-sm-12">
        <div class="form-group">
            <input required type="text" id="{{ form.title.html_name }}"
                   name="{{ form.title.html_name }}" class="form-control" value="{% firstof form.title.value %}"
                   placeholder="{{ form.title.label }}">
        </div>
    </div>

    <div class="col-sm-12">
        <div class="form-group">
            <textarea required id="{{ form.post_text.html_name }}" name="{{ form.post_text.html_name }}"
                      class="form-control" rows="10"
                      placeholder="{{ form.post_text.label }}">{% firstof form.post_text.value %}</textarea>
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="load-more-button">Save</button>
    </div>
</form>
