{% extends 'blog/base.html' %}
{% block page_content %}

    <div class="post-title margin-top-70">
        <h1>Contact <span class="main-color">Me</span></h1>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="contact-us-detail">
                <i class="icon-screen-smartphone color-6"></i>
                <p><a href="tel:+1234567890">8 (902) 794 80 43</a></p>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="contact-us-detail">
                <i class="icon-envelope-open color-5"></i>
                <p><a href="mailto:name@domain.com">vasyachemax@yandex.ru</a></p>
            </div>
        </div>
    </div>

    <div class="row margin-top-30">
        <div class="col-md-12">

            <div class="row">

                <form method="post" action="{% url 'blog:contact' %}">
                    {% csrf_token %}
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" id="name" class="form-control" placeholder="Your Name">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="email" id="email" class="form-control" placeholder="Your Email">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="textarea-message form-group">
                            <textarea id="message" class="textarea-message form-control" placeholder="Your Message" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="load-more-button">Send</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock page_content %}
