{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block page_title %}Edit Post{% endblock page_title %}
{% block page_content %}

    <div class="post-title">
        <h1>Edit <span class="main-color">Post</span></h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">

                {% include 'blog/post/_post_form.html' with form=form image_form=image_form %}

            </div>
        </div>
    </div>

{% endblock page_content %}
{% block custom_javascripts %}
    <script type="text/javascript" src="{% static 'blog/js/post_form.js' %}"></script>
{% endblock custom_javascripts %}
