{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block page_title %}User: {{ user.username }}{% endblock page_title %}
{% block page_content_body %}
    <div class="panel panel-default">
        <div class="panel-heading">Posts user: <a href="{% url 'blog:user' user.id %}">{{ user.username }}</a></div>
        <div class="panel-body">
            {% for post in user.post_set.all %}

                {% if not post.is_removed %}

                    {% include 'blog/post/_post_block.html' with post=post request=request truncatechars=True %}

                {% endif %}

            {% endfor %}
        </div>
    </div>
{% endblock page_content_body %}
{% block page_content_footer %}
    {% if user.post_set.count > 4 %}
        {% include 'blog/post/_load_button.html' %}
    {% endif %}
{% endblock page_content_footer %}
