<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Questions List</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'my_site/main.css' %}"/>
    <script type="text/javascript" src="{% static 'my_site/js/main.js' %}"></script>
</head>
<body>
{% if latest_question_list is not None %}
    {% for question in latest_question_list %}
        <a href="{% url 'my_site:detail' question.id %}"><b> {{ question.question_text }} </b></a><br>
    {% endfor %}
{% else %}
    No questions
{% endif %}
</body>
</html>
