{% load staticfiles %}
<!doctype html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
        {% block all_css %}
            {% block common_css %}
                <link rel="stylesheet" href="{% static 'vue_js/sources/css/material_icons.css' %}">
                <link rel="stylesheet" href="{% static 'vue_js/sources/css/vue-material.min.css' %}">
                <link rel="stylesheet" href="{% static 'vue_js/sources/css/default_material_theme.css' %}">
            {% endblock common_css %}
            {% block extend_css %}
            {% endblock extend_css %}
        {% endblock all_css %}
    {% endblock head %}
</head>
<body>
{% block body %}

    {% block vue_application %}
        {% include 'vue_js/vue_application.html' %}
    {% endblock vue_application %}

    {% block all_js %}
        {% block common_js %}
            <script src="{% static 'blog/js/jquery.min.js' %}"></script>
            <script src="{% static 'vue_js/sources/js/vue.min.js' %}"></script>
            <script src="{% static 'vue_js/sources/js/vue-material.min.js' %}"></script>
            <script src="{% static 'vue_js/js/vue_app.js' %}"></script>
        {% endblock common_js %}
        {% block extend_js %}
        {% endblock extend_js %}
    {% endblock all_js %}

{% endblock body %}
</body>
</html>
